@import "../../assets/styling/variables.scss";

.footer {
  display: flex;
  background-color: $brand-1;
  color: $white;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 100vh;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $accent-white;
    }
  }

  .right-column {
    .imprint-list {
      list-style-type: none;
    }
  }
}
